/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: snow;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RATIO MÓVIL SIEMPRE: Ahora en vez de 10vw hay que hacer calc(var(--vw) * 10); */

.ratio-movil {
    /*Por defecto (modo móvil cuando vh > vw)*/
    width: 100vw;
    background: snow;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    .ratio-movil {
        width: 100vh;
        background: snow;
        overflow: hidden;
    }
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: calc(var(--vw) * 50);
    height: auto;   /*Mantener el ratio*/
}

/*-----------------------------------------------------------------------------------------------*/

/* Nueva parvada: cargando... */
#cargando {
    z-index: 99;
    position: fixed;
    inset: 0; /* top: 0; bottom: 0; left: 0; right: 0 */
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulo-carga {
    z-index: 9;
    width: calc(var(--vw) * 26);
    height: calc(var(--vw) * 26);
    border: calc(var(--vw) * 1);
    border-style: solid;
    border-color: lightgray;
    border-top: calc(var(--vw) * 1);
    border-top-style: solid;
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.4, -0.4, 0.4, 1.4) infinite;
    /*Centrado*/
    position: absolute;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.imagen-fija {
    z-index: 9;
    width: calc(var(--vw) * 26);
    height: calc(var(--vw) * 26);
    border-radius: 50%;
    /*Ajustes pa que no gire*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*Pa que se vea bien*/
    overflow: hidden; /* Recortar imagen fuera del círculo */
}

.imagen-fija img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*Ajustes pa que no gire*/
    animation: none;
}

.cargando-texto {
    margin-top: calc(var(--vw) * 32);
    /*Texto*/
    color: black;
    font-size: calc(var(--vw) * 3.2);
}

/*-----------------------------------------------------------------------------------------------*/

.selector-botones {
    display: inline-flex;
    border-radius: calc(var(--vw) * 5);
    overflow: hidden;
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: rgb(16, 32, 64);
}

.selector-boton {
    background-color: rgb(48, 64, 96);
    border: none;
    padding-top: calc(var(--vw) * 2.4);
    padding-bottom: calc(var(--vw) * 2.4);
    padding-left: calc(var(--vw) * 4.8);
    padding-right: calc(var(--vw) * 4.8);
    transition: background 0.3s;
    /*Texto*/
    font-weight: bold;
    font-size: calc(var(--vw) * 3);
    color: white;
}

.selector-boton:not(:last-child) {
    border-right: calc(var(--vw) * 0.6);
    border-right-style: solid;
    border-right-color: rgb(16, 32, 64);
}

.selector-boton.activo {
    background-color: rgb(16, 32, 64);
}

/*-----------------------------------------------------------------------------------------------*/

.clasificaciones {
    margin-top: calc(var(--vw) * 5);
    /*Tamaño texto por defecto*/
    font-size: calc(var(--vw) * 3.2);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--vw) * 5);
}

.clasificacion {
    width: calc(var(--vw) * 80);
    min-height: calc(var(--vw) * 42);
    background-color: rgb(16, 32, 64);
    overflow: hidden;
    /*Bordesiño*/
    border: calc(var(--vw) * 1);
    border-style: solid;
    border-color: rgb(48, 64, 96);
    border-radius: calc(var(--vw) * 6);
    border-spacing: 0; /*Importante*/
    /*Texto*/
    color: white;
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.clasificacion.activo {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clasificacion ul {
    text-decoration: none;
    background-color: rgb(48, 64, 96);
    /*Arreglo pa que esté bien distribuido*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.clasificacion-tipo {
    width: calc(var(--vw) * 80);
    padding: calc(var(--vw) * 2);
    background-color: rgb(48, 64, 96);
    text-align: center;
    /*Texto*/
    font-size: calc(var(--vw) * 3.6);
}

.clasificacion-lider {
    height: calc(var(--vw) * 40);
    padding: calc(var(--vw) * 3);
    /*Flexbox*/
    display: flex;
    align-items: center;
    gap: calc(var(--vw) * 6);
}

.lider-nombre {
    font-size: calc(var(--vw) * 5);
}

.lider-nombre a {
    color: white;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
}

.tenista-imagen {
    width: calc(var(--vw) * 32);
    height: calc(var(--vw) * 32);
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: yellow;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.tenista-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.clasificacion-resto {
    width: calc(var(--vw) * 80);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clasificacion-resto li {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 8);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr-pos {
    width: calc(var(--vw) * 20);
    text-align: center;
}

.cr-nombre {
    width: calc(var(--vw) * 40);
}

.cr-nombre a {
    color: white;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
}

.cr-puntos {
    width: calc(var(--vw) * 20);
    text-align: center;
    font-size: bolder;
}

/*DE AQUÍ PARRIBA LO NUEVO, PABAJO LO DE RANKINGS COPYPASTE*/
/*-----------------------------------------------------------------------------------------------*/

.logo-h2h {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 8);
    /*Texto porque el HEAD2HEAD no es de la imagen todavía (T.T)*/
    font-size: calc(var(--vw) * 5);
    font-weight: 600;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-h2h img {
    height: 90%;
    width: auto;
    margin-bottom: calc(var(--vw) * 1);
}

.rankings-encabezado {
    background-color: rgb(16, 32, 64);
    /*Ajuste para el menú superior*/
    padding-top: calc(var(--vw) * 16);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankings-seleccion {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 10);
    background-color: rgb(16, 32, 64);
    padding-left: calc(var(--vw) * 4);
    /*Flexbox*/
    display: flex;
    gap: calc(var(--vw) * 8);
    justify-content: left;
    align-items: center;
    /*Corrigiendo el estilo por defecto*/
    list-style: none;
}

.seleccion-modo {
    /*Texto cuando no está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: gray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Display tipo Block*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion-modo strong {
    border-bottom: calc(var(--vw) * 0.6);
    border-bottom-style: solid;
    border-bottom-color: gray;
    /*Animación*/
    transition: border-color 1s ease;
}

/*Finura*/
.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: white;
}

.seleccion-contenido {
    background-color: snow;
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    padding-top: calc(var(--vw) * 4);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Texto*/
    color: black;
}

/*-----------------------------------------------------------------------------------------------*/

.stats-individuales {
    background-color: snow;
    width: calc(var(--vw) * 90);
    margin-top: calc(var(--vw) * 5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*PAL FUTURO: BORRAR*/
#stats-individuales-actual {
    width: calc(var(--vw) * 100);
    /*Quitemos la bullshit*/
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*PAL FUTURO: BORRAR*/
#stats-individuales-actual li {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 20);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Márgenes verticales y horizontales*/
    gap: calc(var(--vw) * 2);
    margin-bottom: calc(var(--vw) * 2);
}

#tabla-stats {
    width: calc(var(--vw) * 90);
    font-size: calc(var(--vw) * 3.6);
    border-collapse: collapse;
    /*Para respetar los anchos*/
    table-layout: fixed;
}

#tabla-stats thead {
    border-bottom: calc(var(--vw) * 1);
    border-bottom-color: rgb(104, 104, 104);
    border-bottom-style: solid;
}

/*Cada 2 fondo gris*/
#tabla-stats tbody tr:nth-child(even) {
    background-color: lightgray;
}

/*BORRAR EN EL FUTURO: sólo ver 2 columnas*/
#tabla-stats td:nth-child(n+3) {
    display: none;
}

/*-----------------------------------------------------------------------------------------------*/

.lr-foto {
    width: calc(var(--vw) * 16);
    height: calc(var(--vw) * 16);
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: blue;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.lr-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.lr-nombre {
    width: calc(var(--vw) * 26);
}

.lr-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Texto*/
    color: black;
    text-align: left;
    font-weight: bolder;
    font-size: calc(var(--vw) * 4.6);
}

.lr-club {
    width: calc(var(--vw) * 26);
}

.lr-club a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Texto*/
    color: grey;
    text-align: left;
    font-weight: bolder;
    font-size: calc(var(--vw) * 3);
}

.lr-puntos {
    width: calc(var(--vw) * 10);
    /*Texto*/
    color: black;
    text-align: center;
    font-size: calc(var(--vw) * 4.6);
    font-weight: bolder;
}

.lr-pps {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 4);
    /*Texto*/
    color: gray;
    text-align: left;
    font-size: calc(var(--vw) * 2.6);
}

.lr-ppj {
    width: calc(var(--vw) * 10);
    /*Texto*/
    color: gray;
    text-align: left;
    font-size: calc(var(--vw) * 2.6);
}

.lr-ranking {
    width: calc(var(--vw) * 10);
    /*Texto*/
    text-align: right;
    font-size: calc(var(--vw) * 5);
    font-weight: bolder;
}

.lr-diff {
    width: calc(var(--vw) * 10);
    /*Texto*/
    text-align: right;
    font-size: calc(var(--vw) * 3.6);
    font-weight: bolder;
    color: lightslategray;
}

.ultimo-torneo {
    width: calc(var(--vw) * 20);
    /*Texto*/
    text-align: center;
    font-size: calc(var(--vw) * 3);
    font-weight: bolder;
    color: rgb(64, 64, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ultimo-torneo img {
    width: calc(var(--vw) * 15);
    max-height: calc(var(--vw) * 8);
    object-fit: contain;
}

/*-----------------------------------------------------------------------------------------------*/

.leyendas {
    width: calc(var(--vw) * 92);
    border-bottom: calc(var(--vw) * 0.36);
    border-bottom-style: solid;
    border-bottom-color: rgb(104, 104, 104);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*Márgenes verticales y horizontales*/
    gap: calc(var(--vw) * 2);
    margin-bottom: calc(var(--vw) * 2);
}

.leyenda {
    /*Texto*/
    text-align: left;
    font-size: calc(var(--vw) * 3.6);
    font-weight: 550;
    color: black;
}

.tipo-stat {
    width: calc(var(--vw) * 50);
    min-height: calc(var(--vw) * 8);
    /*Bordes*/
    border: calc(var(--vw) * 0.5);
    border-style: solid;
    border-color: black;
    /*Texto*/
    font-size: calc(var(--vw) * 3.2);
    font-weight: bold;
    color: black;
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Colocación*/
    align-self: flex-start;
    margin-left: calc(var(--vw) * 5);
    /*listaStats*/
    position: relative;
    z-index: 10;
}

.tipo-stat button {
    all: unset;
    margin-left: calc(var(--vw) * 1);
    margin-right: calc(var(--vw) * 1);
    white-space: normal; /*Justificar texto*/
}

.tipo-stat img {
    width: calc(var(--vw) * 4);
    height: calc(var(--vw) * 4.5);
    object-fit: contain;
    margin-right: calc(var(--vw) * 2);
}

#listaStats {
    background: white;
    max-height: calc(var(--vw) * 100);
    /*Bordes*/
    border: calc(var(--vw) * 0.5);
    border-style: solid;
    border-color: gray;
    /*Texto*/
    color: gray;
    /*Quitar el estilo de lista por defecto*/
    list-style: none;
    margin: 0;
    margin-top: calc(var(--vw) * 0.4);
    padding: 0;
    /**/
    position: absolute;
    overflow: visible;
    top: 100%;
    left: 0;
    z-index: 8;
}

#listaStats li {
    padding: calc(var(--vw) * 0.6);
    white-space: normal; /*Justificar texto*/
}