/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(8, 16, 32);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RATIO MÓVIL SIEMPRE: Ahora en vez de 10vw hay que hacer calc(var(--vw) * 10); */

.ratio-movil {
    /*Por defecto (modo móvil cuando vh > vw)*/
    width: 100vw;
    background: rgb(8, 16, 32);
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    .ratio-movil {
        width: 100vh;
        background: rgb(8, 16, 32);
        overflow: hidden;
    }
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: calc(var(--vw) * 50);
    height: auto;   /*Mantener el ratio*/
}

.margen {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 5);
}

.h2h {
    background-color: rgb(16, 32, 64);
    /*Ajuste para el menú superior*/
    padding-top: calc(var(--vw) * 16);
}

/*-----------------------------------------------------------------------------------------------*/

/*Contenedor de la primera parte del h2h: logo, tenistas (foto, nombre, etc.) y el vs victorias*/
.h2h-estructura {
    /*El tamaño en referencia al ancho del dispositivo: mismo ancho y la mitad de ese ancho de alto*/
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 50);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-h2h {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 8);
    margin-top: calc(var(--vw) * 4);
    margin-bottom: calc(var(--vw) * 1);
    /*Texto porque el HEAD2HEAD no es de la imagen todavía (T.T)*/
    font-size: calc(var(--vw) * 5);
    font-weight: 600;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-h2h img {
    height: 90%;
    width: auto;
    margin-bottom: calc(var(--vw) * 1);
}

.h2h-vs {
    width: calc(var(--vw) * 90);
    height: calc(var(--vw) * 40);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista1 {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 40);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-imagen-hueco {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 25);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista1-imagen {
    width: calc(var(--vw) * 20);
    height: calc(var(--vw) * 20);
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: blue;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.tenista1-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.tenista1-nombre {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 15);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista1-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 5);
    text-align: center;
    color: white;
}

.tenista2 {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 40);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista2-imagen {
    width: calc(var(--vw) * 20);
    height: calc(var(--vw) * 20);
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: yellow;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.tenista2-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.tenista2-nombre {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 15);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 5);
    text-align: center;
    color: white;
}

.tenista2-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 5);
    text-align: center;
    color: white;
}

.vs-victorias {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 40);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vs-victorias-contenido {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 26);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.victorias-tenista1 {
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 26);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 6);
    text-align: center;
    color: white;
}

.victorias-tenista2 {
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 26);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 6);
    text-align: center;
    color: white;
}

.circunferencia-porcentajes {
    width: calc(var(--vw) * 24);
    height: calc(var(--vw) * 24);
    border-radius: 50%; /*Para que sea un círculo*/
    box-sizing: border-box;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: grey;

    /*Empieza lo bueno: gradiente dinámico en función del H2H*/
    background: conic-gradient(
        blue 0deg,
        yellow 0deg
    );

    /*Para posicionar el ::after*/
    position: relative;
}

.circunferencia-porcentajes::after {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: rgb(16, 32, 64);
    z-index: 1;
    /*Para posicionar el ::after*/
    position: absolute;
    /*Texto: con \A se indica nueva línea y con la siguiente línea cómo se gestiona*/
    content: "VS\Avictorias";
    white-space: pre;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: grey;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs-victorias-hueco {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 14);
}

/*-----------------------------------------------------------------------------------------------*/

.h2h-data {
    width: calc(var(--vw) * 100);
    /*NO ESPECIFICAMOS LA ALTURA YA QUE ES VARIABLE*/
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2h-seleccion {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 2);
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Corrigiendo el estilo por defecto*/
    list-style: none;
}

.seleccion-modo {
    width: calc(var(--vw) * 14);
    /*Texto cuando no está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: gray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Display tipo Block*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion-modo strong {
    border-bottom: calc(var(--vw) * 0.6);
    border-bottom-style: solid;
    border-bottom-color: gray;
    /*Animación*/
    transition: border-color 1s ease;
}

/*Finura*/
.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: white;
}

.seleccion-contenido {
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    display: block;
    color: white;
}

.h2h-info-individual {
    width: calc(var(--vw) * 80);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.h2h-info-individual-extra {
    width: calc(var(--vw) * 80);
    font-size: calc(var(--vw) * 4);
    /*Flexbox*/
    display: none;
    flex-direction: column;
}

.h2h-info-tabla-doblefila {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 6.5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.h2h-info-tabla-fila {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 5.5);
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2h-info-tabla-izq {
    width: calc(var(--vw) * 25);
    text-align: left;
    font-size: calc(var(--vw) * 3);
}

.h2h-info-tabla-cen {
    width: calc(var(--vw) * 30);
    text-align: center;
    font-size: calc(var(--vw) * 2.5);
    color: lightgray;
}

.h2h-info-tabla-der {
    width: calc(var(--vw) * 25);
    text-align: right;
    font-size: calc(var(--vw) * 3);
}

.barra-comparativa {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 1);
    background-color: blue;
    /*Básicamente vamos a mostrar el porcentaje del tenista2 por encima*/
    overflow: hidden;

    position: relative;
}

.barra-porcentaje-tenista2 {
    width: 0%; /*Este valor se ajusta con h2h_porcentajes_barras.js*/
    height: calc(var(--vw) * 1);
    background-color: yellow;
    
    position: absolute;
    right: 0;

    /*Animación (nah insano)*/
    transition: width 0.8s ease-out;
}

#botonStatsAvanzadas {
    width: fit-content;
    display: block;
    margin: 1rem auto;
    /*Texto*/
    font-size: calc(var(--vw) * 3);
}

/*-----------------------------------------------------------------------------------------------*/

.h2h-info-partidos {
    width: calc(var(--vw) * 92);
    margin: 0 auto;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.h2h-info-partidos ul {
    text-decoration: none;
    /*Arreglo pa que esté bien distribuido*/
    list-style: none;
    margin: 0;
    padding: 0;
    /*Texto*/
    text-align: center;
}

.fila-info-partido {
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* Texto */
    font-size: calc(var(--vw) * 3);
}

.columna-lista-partidos {
    height: calc(var(--vw) * 7);
    /*Flexbox*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*Texto*/
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
}

.columna-lista-partidos a {
    display: block;
    /*Texto*/
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
}

.clp-anho {
    flex-basis: calc(var(--vw) * 5);
}

.clp-ganador {
    flex-basis: calc(var(--vw) * 20);
    justify-content: flex-start; /*Texto alineado a la izquierda*/
}

.clp-torneo {
    flex-basis: calc(var(--vw) * 20);
    justify-content: flex-start; /*Texto alineado a la izquierda*/
}

.clp-ronda {
    flex-basis: calc(var(--vw) * 5);
}

.clp-marcador {
    flex-basis: calc(var(--vw) * 30);
}

.circulito-ganador {
    width: calc(var(--vw) * 4);
    height: calc(var(--vw) * 4);
    border-radius: 50%;
    /*Ajustes pa centrarlo*/
    margin: auto;
    align-self: center;
}

/*-----------------------------------------------------------------------------------------------*/

.h2h-buscador {
    width: calc(var(--vw) * 100);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h2h-buscador-doble {
    width: calc(var(--vw) * 70);
    /*Efecto degradado en el borde pero color plano dentro*/
    border: calc(var(--vw) * 1);
    border-style: solid;
    border-color: transparent;
    border-radius: calc(var(--vw) * 6);
    padding: calc(var(--vw) * 3);
    background-image:
        linear-gradient(rgb(8, 16, 32), rgb(8, 16, 32)),/*Fondo*/
        linear-gradient(to right, blue, yellow);        /*Degradado del borde*/
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector-tenista {
    position: relative;
    display: inline-block;
}

.selector-tenista button {
    width: calc(var(--vw) * 25);
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    /*Texto*/
    font-size: calc(var(--vw) * 4);
    font-weight: bold;
    text-align: center;
    color: white;
}

.selector-tenista ul {
    width: calc(var(--vw) * 25);
    position: absolute;
    top: 100%;
    padding: 0;
    background-color: rgb(8, 16, 32);
    border: 1px solid rgb(8, 16, 32);
    border-radius: 4px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: white;
}

.selector-tenista ul li {
    height: calc(var(--vw) * 3.2);
    cursor: pointer;
    margin-top: calc(var(--vw) * 2);
}

.consejo {
    height: calc(var(--vw) * 10);
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: 500;
    text-align: center;
    color: white;
}

