/* ---------------INICIO CONFIG MENÚ SUPERIOR--------------- */

.menu-superior {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 15);
    background-color: rgb(8, 16, 32);
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustes para que quede siempre arriba*/
    position: fixed;
    z-index: 100; /*Nos aseguramos que siempre esté encima*/
}

.boton-ver-apartados {
    width: calc(var(--vw) * 15);
    height: calc(var(--vw) * 15);
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-ver-apartados img {
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 8);
    object-fit: contain;
    /*Pa invertirla de negro a blanco*/
    filter: invert(1);
}

.logo-rexenxotv {
    width: calc(var(--vw) * 85);
    height: calc(var(--vw) * 15);
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo-rexenxotv a {
    width: calc(var(--vw) * 42);
    height: calc(var(--vw) * 15);
    /*Flexbox*/
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo-rexenxotv img {
    height: 80%;
    width: auto;
    margin-top: calc(var(--vw) * 1);
    margin-right: calc(var(--vw) * 2);
    object-fit: contain;
}

/* ---------------FIN CONFIG MENÚ SUPERIOR--------------- */

/* ---------------INICIO CONFIG MENÚ LATERAL--------------- */

#menu-lateral {
    position: fixed;
    top: 0;
    left: -100%; /* Oculto fuera del viewport */
    width: calc(var(--vw) * 60);
    height: 100vh;
    background-color: rgb(8, 16, 32);
    z-index: 100;
    transition: left 0.3s ease;
    /*box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);*/
    padding: calc(var(--vw) * 1);
    /*Bordeciño*/
    border-top-right-radius: calc(var(--vw) * 14);
    border-bottom-right-radius: calc(var(--vw) * 14);
    border-spacing: 0; /*Importante*/
}

/*Cuando se muestra el menú...*/
#menu-lateral.activo {
    left: 0;
}

#menu-lateral ul {
    margin-top: calc(var(--vw) * 5);
    /*Quitar estilos por defecto*/
    list-style: none;
    padding: 0;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-lateral li {
    width: calc(var(--vw) * 55);
    height: calc(var(--vw) * 12);
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-lateral li a {
    display: block;
    /*Texto*/
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: calc(var(--vw) * 5);
}

#menu-lateral img {
    width: calc(var(--vw) * 6);
    height: calc(var(--vw) * 6);
    object-fit: contain;
    margin-right: calc(var(--vw) * 2);
    /*Pa invertirla de negro a blanco*/
    filter: invert(1);
}

.boton-ver-menos {
    height: calc(var(--vw) * 13);
    width: calc(var(--vw) * 13);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-ver-menos img {
    width: calc(var(--vw) * 7);
    height: calc(var(--vw) * 7);
    object-fit: contain;
    /*Pa invertirla de negro a blanco*/
    filter: invert(1);
}

/* ---------------FIN CONFIG MENÚ LATERAL--------------- */