/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: snow;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RATIO MÓVIL SIEMPRE: Ahora en vez de 10vw hay que hacer calc(var(--vw) * 10); */

.ratio-movil {
    /*Por defecto (modo móvil cuando vh > vw)*/
    width: 100vw;
    background: snow;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    .ratio-movil {
        width: 100vh;
        background: snow;
        overflow: hidden;
    }
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: calc(var(--vw) * 50);
    height: auto;   /*Mantener el ratio*/
}

.margen {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 5);
    background-color: rgb(16, 32, 64);
}

.logo-h2h {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 8);
    margin-top: calc(var(--vw) * 4);
    /*Texto porque el HEAD2HEAD no es de la imagen todavía (T.T)*/
    font-size: calc(var(--vw) * 5);
    font-weight: 600;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-h2h img {
    height: 90%;
    width: auto;
    margin-bottom: calc(var(--vw) * 1);
}

/*-----------------------------------------------------------------------------------------------*/

.partido {
    background-color: rgb(16, 32, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Ajuste para el menú superior*/
    padding-top: calc(var(--vw) * 15);
}

.datos-y-marcador {
    width: calc(var(--vw) * 100);
    padding: calc(var(--vw) * 5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 25);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.datos-torneo {
    width: calc(var(--vw) * 30);
    height: calc(var(--vw) * 20);
    margin-left: calc(var(--vw) * 5);
    margin-right: calc(var(--vw) * 5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.torneo-nombre {
    width: calc(var(--vw) * 30);
    height: calc(var(--vw) * 14);
    /*Texto*/
    font-size: calc(var(--vw) * 5);
    font-weight: bold;
    text-align: center;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.torneo-ronda {
    width: calc(var(--vw) * 30);
    height: calc(var(--vw) * 4);
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: white;
}

.tenista-imagen {
    width: calc(var(--vw) * 20);
    height: calc(var(--vw) * 20);
    background-color: transparent;
    border: calc(var(--vw) * 0.7);
    border-style: solid;
    border-color: blue;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.tenista-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.tenista2-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.tenista1-nombre {
    width: calc(var(--vw) * 25);
    height: calc(var(--vw) * 15);
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista1-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Ajustar el tamaño de letra al tamaño de pantalla*/
    font-size: calc(var(--vw) * 4);
    text-align: center;
    color: white;
}

.duracion {
    width: calc(var(--vw) * 79);
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    text-align: right;
    color: lightgray;
}

.final {
    width: calc(var(--vw) * 79);
    height: calc(var(--vw) * 6);
    margin-top: calc(var(--vw) * 2);
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    text-align: left;
    color: lightgray;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcador {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 16);
    overflow: hidden;
    background: radial-gradient(
        circle at left bottom,
        rgb(0, 0, 64) 0%,
        rgb(16, 16, 128) 60%,
        rgb(32, 32, 255) 90%
    );
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Bordes*/
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: rgb(32, 32, 255);
    border-radius: calc(var(--vw) * 2);
}

.marcador-fila {
    height: calc(var(--vw) * 8);
    /*Flexbox*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.m-seeding {
    width: calc(var(--vw) * 5);
    margin-right: calc(var(--vw) * 2);
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: bolder;
    text-align: right;
    color: lightgrey;
}

.m-nombre {
    width: calc(var(--vw) * 62);
    /*Texto*/
    font-size: calc(var(--vw) * 3.6);
    font-weight: bolder;
    text-align: left;
    color: white;
}

.m-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    color: white;
}

.m-set {
    width: calc(var(--vw) * 8);
    /*Texto*/
    font-size: calc(var(--vw) * 4.5);
    font-weight: bolder;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-juego {
    width: calc(var(--vw) * 7);
    height: calc(var(--vw) * 5.2);
    background-color: white;
    border-radius: calc(var(--vw) * 1);
    margin-left: calc(var(--vw) * 1);
    /*Texto*/
    font-size: calc(var(--vw) * 4.2);
    font-weight: bolder;
    color: black;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------------------------------*/

.ir-al-h2h {
    margin-bottom: calc(var(--vw) * 5);
    padding-top: calc(var(--vw) * 1.5);
}

.ir-al-h2h a {
    height: calc(var(--vw) * 4.5);
    width: calc(var(--vw) * 22.5);
    display: block;
    /*Corrigiendo estilo por defecto*/
    text-decoration: none;
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: rgb(16, 32, 64);
}

/*-----------------------------------------------------------------------------------------------*/

.partido-seleccion {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 10);
    background-color: snow;
    padding-left: calc(var(--vw) * 8);
    /*Flexbox*/
    display: flex;
    justify-content: left;
    align-items: center;
    gap: calc(var(--vw) * 8);
}

.seleccion-modo {
    height: calc(var(--vw) * 6);
    /*Texto cuando no está pulsado*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: darkslategray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
}

.seleccion-modo strong {
    border-bottom: calc(var(--vw) * 0.6);
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: blue;
}

.seleccion-contenido {
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    background-color: snow;
    color: black;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------------------------------*/

.tabla-stats {
    width: calc(var(--vw) * 84);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Texto*/
    font-size: calc(var(--vw) * 4);
    text-align: center;
    color: black;
    /*Quitar estilos por defecto*/
    list-style: none;
    padding: 0;
}

.tabla-stats li {
    width: calc(var(--vw) * 84);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Quitar estilos por defecto*/
    list-style: none;
    padding: calc(var(--vw) * 2);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Bordes*/
    border-top: calc(var(--vw) * 0.3);
    border-top-style: solid;
    border-top-color: gray;
    border-left: calc(var(--vw) * 0.3);
    border-left-style: solid;
    border-left-color: gray;
    border-right: calc(var(--vw) * 0.3);
    border-right-style: solid;
    border-right-color: gray;
}

.tabla-stats li:last-child {
    /*El último es el único que tiene borde inferior*/
    border-bottom: calc(var(--vw) * 0.3);
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.dato-t1 {
    width: calc(var(--vw) * 12);
    text-align: left;
    /*Texto*/
    font-size: calc(var(--vw) * 3.2);
}

.dato-t2 {
    width: calc(var(--vw) * 12);
    text-align: right;
    /*Texto*/
    font-size: calc(var(--vw) * 3.2);
}

.barra-t1 {
    width: calc(var(--vw) * 30);
    height: calc(var(--vw) * 2);
    background-color: lightgray;
    /*Vamos a mostrar el porcentaje por encima*/
    overflow: hidden;
    position: relative;
}

.relleno-barra-t1 {
    width: 0%; /*Este valor se ajusta con partido_porcentajes_barras.js*/
    height: calc(var(--vw) * 2);
    background-color: rgb(32, 32, 255);
    /*Ajustes para mostrarlo bien por encima*/
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /*Animación (nah insano)*/
    transition: width 0.8s ease-in;
}

.barra-t2 {
    width: calc(var(--vw) * 30);
    height: calc(var(--vw) * 2);
    background-color: lightgray;
    /*Vamos a mostrar el porcentaje por encima*/
    overflow: hidden;
    position: relative;
}

.relleno-barra-t2 {
    width: 0%; /*Este valor se ajusta con partido_porcentajes_barras.js*/
    height: calc(var(--vw) * 2);
    background-color: navy;
    /*Ajustes para mostrarlo bien por encima*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*Animación (nah insano)*/
    transition: width 0.8s ease-in;
}

/*-----------------------------------------------------------------------------------------------*/

.ficha-tecnica-tipo {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 7);
    padding-left: calc(var(--vw) * 5);
    background-color: rgb(234, 234, 234);
    /*Bordeciño*/
    border-radius: calc(var(--vw) * 3);
    border-spacing: 0; /*Importante*/
    /*Flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Texto*/
    font-size: calc(var(--vw) * 3.7);
}

.ficha-tecnica-dato {
    text-align: right;
    padding-right: calc(var(--vw) * 3);
}

/*Reescribir el tipo de display para la ficha técnica (gap y padding)*/
.seleccion-contenido.seleccion-contenido--activa[data-info="2"] {
    padding: calc(var(--vw) * 4);
    gap: calc(var(--vw) * 2);
}

/*-----------------------------------------------------------------------------------------------*/

.flex {
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}