/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: snow;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RATIO MÓVIL SIEMPRE: Ahora en vez de 10vw hay que hacer calc(var(--vw) * 10); */

.ratio-movil {
    /*Por defecto (modo móvil cuando vh > vw)*/
    width: 100vw;
    background: snow;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    .ratio-movil {
        width: 100vh;
        background: snow;
        overflow: hidden;
    }
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: calc(var(--vw) * 50);
    height: auto;   /*Mantener el ratio*/
}

.margen {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 5);
    background-color: snow;
}

/*-----------------------------------------------------------------------------------------------*/

/* Nueva parvada: cargando... */
#cargando {
    z-index: 99;
    position: fixed;
    inset: 0; /* top: 0; bottom: 0; left: 0; right: 0 */
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulo-carga {
    z-index: 9;
    width: calc(var(--vw) * 26);
    height: calc(var(--vw) * 26);
    border: calc(var(--vw) * 1);
    border-style: solid;
    border-color: lightgray;
    border-top: calc(var(--vw) * 1);
    border-top-style: solid;
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.4, -0.4, 0.4, 1.4) infinite;
    /*Centrado*/
    position: absolute;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.imagen-fija {
    z-index: 9;
    width: calc(var(--vw) * 26);
    height: calc(var(--vw) * 26);
    border-radius: 50%;
    /*Ajustes pa que no gire*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*Pa que se vea bien*/
    overflow: hidden; /* Recortar imagen fuera del círculo */
}

.imagen-fija img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*Ajustes pa que no gire*/
    animation: none;
}

.cargando-texto {
    margin-top: calc(var(--vw) * 32);
    /*Texto*/
    color: black;
    font-size: calc(var(--vw) * 3.2);
}

/*-----------------------------------------------------------------------------------------------*/

.logo-h2h {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 10);
    background-color: transparent;
    border: none;
    /*Texto porque el HEAD2HEAD no es de la imagen todavía (T.T)*/
    font-size: calc(var(--vw) * 5);
    font-weight: 600;
    color: white;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-h2h img {
    height: 90%;
    width: auto;
    margin-bottom: calc(var(--vw) * 1);
}

.rankings-encabezado {
    background-color: rgb(16, 32, 64);
    /*Ajuste para el menú superior*/
    padding-top: calc(var(--vw) * 16);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankings-seleccion {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 10);
    background-color: rgb(16, 32, 64);
    padding-left: calc(var(--vw) * 4);
    /*Flexbox*/
    display: flex;
    gap: calc(var(--vw) * 8);
    justify-content: left;
    align-items: center;
    /*Corrigiendo el estilo por defecto*/
    list-style: none;
}

.seleccion-modo {
    background-color: transparent;
    /*Texto cuando no está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: gray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Display tipo Block*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion-modo strong {
    border-bottom: calc(var(--vw) * 0.6);
    border-bottom-style: solid;
    border-bottom-color: gray;
    /*Animación*/
    transition: border-color 1s ease;
}

/*Finura*/
.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: calc(var(--vw) * 3);
    text-align: center;
    color: white;
}

.seleccion-contenido {
    background-color: snow;
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    display: block;
    color: black;
}

/*-----------------------------------------------------------------------------------------------*/

.live-ranking {
    background-color: snow;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#live-ranking-actual {
    width: calc(var(--vw) * 100);
    /*Quitemos la bullshit*/
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#live-ranking-actual li {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 20);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Márgenes verticales y horizontales*/
    gap: calc(var(--vw) * 2);
    margin-bottom: calc(var(--vw) * 2);
}

.lr-foto {
    width: calc(var(--vw) * 16);
    height: calc(var(--vw) * 16);
    background-color: transparent;
    border: calc(var(--vw) * 0.6);
    border-style: solid;
    border-color: blue;
    /*Realmente este div es un círculo*/
    border-radius: 50%; /*Esto le da la forma de círculo*/
    box-sizing: border-box;
    overflow: hidden;   /*Esto hace que todo lo que está por fuera del círculo no se vea*/
}

.lr-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*No queremos ajustar la imagen a dentro del círculo*/
}

.lr-nombre {
    width: calc(var(--vw) * 26);
}

.lr-nombre a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Texto*/
    color: black;
    text-align: left;
    font-weight: bolder;
    font-size: calc(var(--vw) * 4.6);
}

.lr-club {
    width: calc(var(--vw) * 26);
}

.lr-club a {
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
    /*Texto*/
    color: grey;
    text-align: left;
    font-weight: bolder;
    font-size: calc(var(--vw) * 3);
}

.lr-puntos {
    width: calc(var(--vw) * 10);
    /*Texto*/
    color: black;
    text-align: center;
    font-size: calc(var(--vw) * 4.6);
    font-weight: bolder;
}

.lr-pps {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 4);
    /*Texto*/
    color: gray;
    text-align: left;
    font-size: calc(var(--vw) * 2.6);
}

.lr-ppj {
    width: calc(var(--vw) * 10);
    /*Texto*/
    color: gray;
    text-align: left;
    font-size: calc(var(--vw) * 2.6);
}

.lr-ranking {
    width: calc(var(--vw) * 10);
    /*Texto*/
    text-align: right;
    font-size: calc(var(--vw) * 5);
    font-weight: bolder;
}

.lr-diff {
    width: calc(var(--vw) * 10);
    /*Texto*/
    text-align: right;
    font-size: calc(var(--vw) * 3.6);
    font-weight: bolder;
    color: lightslategray;
}

.ultimo-torneo {
    width: calc(var(--vw) * 20);
    /*Texto*/
    text-align: center;
    font-size: calc(var(--vw) * 3);
    font-weight: bolder;
    color: rgb(64, 64, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ultimo-torneo img {
    width: calc(var(--vw) * 15);
    max-height: calc(var(--vw) * 8);
    object-fit: contain;
}

/*-----------------------------------------------------------------------------------------------*/

.leyendas {
    width: calc(var(--vw) * 92);
    border-bottom: calc(var(--vw) * 0.36);
    border-bottom-style: solid;
    border-bottom-color: rgb(104, 104, 104);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*Márgenes verticales y horizontales*/
    gap: calc(var(--vw) * 2);
    margin-bottom: calc(var(--vw) * 2);
}

.leyenda {
    /*Texto*/
    text-align: center;
    font-size: calc(var(--vw) * 3.6);
    font-weight: 550;
    color: black;
}