/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: transparent;
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: 50vw;
    height: auto;   /*Mantener el ratio*/
}

/* ---------------INICIO CONFIG MENÚ SUPERIOR--------------- */

.menu-superior {
    width: 100vw;
    height: 15vw;
    background-color: rgb(8, 16, 32);
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustes para que quede siempre arriba*/
    position: fixed;
    z-index: 100; /*Nos aseguramos que siempre esté encima*/
}

.boton-ver-apartados {
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-rexenxotv {
    width: 85vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo-rexenxotv img {
    height: 80%;
    width: auto;
    margin-top: 1vw;
    margin-right: 2vw;
    object-fit: contain;
}

/* ---------------FIN CONFIG MENÚ SUPERIOR--------------- */

.margen {
    width: 100vw;
    height: 5vw;
    background-color: snow;
    border: none; /*C-PURPLE*/
}

/*-----------------------------------------------------------------------------------------------*/

.tenista {
    background-color: rgb(16, 32, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Ajuste para el menú superior*/
    padding-top: 15vw;
}

.tenista-info {
    width: 100vw;
    height: 50vw;
    border: none; /*C-LIME*/
    /*Degradado*/
    background: radial-gradient(
        circle at right center,
        rgb(32, 64, 128) 0%,
        rgb(24, 48, 96) 30%,
        rgb(16, 32, 64) 50%
    );
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista-info-imagen {
    width: 40vw;
    height: 50vw;
    border: none; /*C-GOLD*/
}

.tenista-info-imagen img {
    width: 40vw;
    height: 50vw;
    object-fit: contain;
    object-position: right;
}

.tenista-info-basica {
    width: 60vw;
    height: 50vw;
    border: none;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-info-nombre-y-club {
    width: 50vw;
    height: 16vw;
    border: none;
    /*Texto*/
    text-align: left;
    vertical-align: middle;
}

/* Tabla */
.tenista-info-datosbasicos {
    width: 55vw;
    height: 24vw;
    table-layout: fixed; /*Amazing*/
    /*Bordeciño*/
    border: 0.3vw solid blue;
    border-radius: 5vw;
    border-spacing: 0; /*Importante*/
}

.tenista-info-datosbasicos tr:not(:last-child) td {
    border-bottom: 0.3vw solid blue;
}

.tenista-info-datosbasicos td {
    text-align: center;
}

/* SPANS: clases solo pa formatear texto */
.tenista-info-nombre {
    /*Texto*/
    font-size: 6vw;
    font-weight: bolder;
    color: white;
}

.tenista-info-club {
    /*Texto*/
    font-size: 3.6vw;
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-dato {
    /*Texto*/
    font-size: 5vw;
    font-weight: bolder;
    color: white;
}

.tenista-info-datodif {
    /*Texto*/
    font-size: 4.6vw;
    font-weight: bolder;
    color: lightslategray;
}

.tenista-info-tipodato {
    /*Texto*/
    font-size: 3vw;
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-mejorranking {
    /*Texto*/
    font-size: 2.6vw;
    font-weight: 500;
    color: lightslategray;
}

/*-----------------------------------------------------------------------------------------------*/

.tenista-data {
    width: 100vw;
    /*NO ESPECIFICAMOS LA ALTURA YA QUE ES VARIABLE*/
    background-color: snow;
    border: none; /*C-VIOLET*/
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-seleccion {
    width: 80vw;
    height: 6vw;
    background-color: transparent;
    border: none; /*C-BLUE*/
    /*Flexbox*/
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
}

.tenista-seleccion a {
    border: none; /*C-BLUE*/
}

.seleccion-modo {
    background-color: transparent;
    /*Texto cuando no está pulsado*/
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: darkslategray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
}

.seleccion-modo strong {
    border-bottom: 0.6vw solid darkslategray;
    /*Animación*/
    transition: border-color 1s ease;
}

/*Finura*/
.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: blue;
}

.seleccion-contenido {
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    display: block;
    color: black;
}

/*-----------------------------------------------------------------------------------------------*/

/*WIP*/
.tenista-stats {
    width: 80vw;
    border: none;
    font-size: 4.5vw;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.ts-tabla-doblefila {
    width: 80vw;
    height: 6.5vw;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.ts-tabla-fila {
    width: 80vw;
    height: 5.5vw;
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ts-tabla-izq {
    width: 60vw;
    text-align: left;
    font-size: 3vw;
}

.ts-tabla-der {
    width: 10vw;
    text-align: right;
    font-size: 3vw;
}

.barra-comparativa {
    width: 80vw;
    height: 1vw;
    background-color: lightgray;
    /*Básicamente vamos a mostrar el porcentaje del tenista2 por encima*/
    overflow: hidden;

    position: relative;
}

.barra-porcentaje {
    width: 0%; /*Este valor se ajusta con h2h_porcentajes_barras.js*/
    height: 1vw;
    background-color: blue;
    
    position: absolute;
    left: 0;

    /*Animación (nah insano)*/
    transition: width 0.8s ease-in;
}

/*-----------------------------------------------------------------------------------------------*/

.caja-partidos-torneo {
    width: 75vw;
    table-layout: fixed; /*Amazing*/
    /*Bordeciño*/
    border: 0.3vw solid grey;
    border-radius: 3vw;
    border-spacing: 0; /*Importante*/
    /* Margen interior aka padding */
    padding: 2vw;
}

.resultados-del-torneo {
    height: 8vw;
    margin-left: 6vw;
    margin-top: 1vw;
    /*Texto*/
    color: grey;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: left;
}

.partidos-torneo {
    width: 70vw;
    display: inline-block; /*El padre es flexbox*/
}

.datos-torneo {
    width: 75vw;
    font-weight: bolder;
    /*Flexbox*/
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.categoria-torneo img {
    width: 15vw;
    object-fit: contain;
    padding: 2vw;
}

.info-torneo {
    margin-left: 2vw;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-torneo-nombre {
    /*Texto*/
    font-size: 4vw;
    font-weight: bold;
    color: black;
}

.info-torneo-otros {
    /*Texto*/
    font-size: 3vw;
    font-weight: 500;
    color: black;
    text-align: left;
}

/*-----------------------------------------------------------------------------------------------*/

.tenista-info-partidos {
    width: 90vw;
    margin: 0 auto;
    border: none;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-info-partidos ul {
    text-decoration: none;
    /*Arreglo pa que esté bien distribuido*/
    list-style: none;
    margin: 0;
    padding: 0;
    /*Texto*/
    text-align: center;
}

.fila-info-partido {
    /*Flexbox*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
    /* Texto */
    font-size: 3vw;
    border: none;
}

.columna-lista-partidos {
    height: 7vw;
    /*Flexbox*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*Texto*/
    text-align: center;
    text-decoration: none;
    color: black;
}

.columna-lista-partidos a {
    display: block;
    /*Texto*/
    text-align: center;
    text-decoration: none;
    color: black;
}

.leyenda {
    /* Texto */
    font-size: 2.7vw;
    color: grey;
}

.w-l {
    flex-basis: 3vw;
    font-weight: bolder;
    border: none;
}

.clp-rival {
    flex-basis: 18vw;
    justify-content: flex-start; /*Texto alineado a la izquierda*/
    border: none;
}

.clp-ronda {
    flex-basis: 10vw;
    border: none;
}

.clp-marcador {
    flex-basis: 22vw;
    justify-content: flex-start; /*Texto alineado a la izquierda*/
    border: none;
}

/*-----------------------------------------------------------------------------------------------*/