/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(8, 16, 32);
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RATIO MÓVIL SIEMPRE: Ahora en vez de 10vw hay que hacer calc(var(--vw) * 10); */

.ratio-movil {
    /*Por defecto (modo móvil cuando vh > vw)*/
    width: 100vw;
    background: goldenrod;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    .ratio-movil {
        width: 100vh;
        background: goldenrod;
        overflow: hidden;
    }
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: calc(var(--vw) * 50);
    height: auto;   /*Mantener el ratio*/
}

.margen {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 5);
    background-color: snow;
    border: none; /*C-PURPLE*/
}

/*-----------------------------------------------------------------------------------------------*/

.tenista {
    background-color: rgb(16, 32, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Ajuste para el menú superior*/
    padding-top: calc(var(--vw) * 15);
}

.tenista-info {
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 50);
    border: none; /*C-LIME*/
    /*Degradado*/
    background: radial-gradient(
        circle at right center,
        rgb(32, 64, 128) 0%,
        rgb(24, 48, 96) 30%,
        rgb(16, 32, 64) 50%
    );
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista-info-imagen {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 50);
    border: none; /*C-GOLD*/
}

.tenista-info-imagen img {
    width: calc(var(--vw) * 40);
    height: calc(var(--vw) * 50);
    object-fit: contain;
    object-position: right;
}

.tenista-info-basica {
    width: calc(var(--vw) * 60);
    height: calc(var(--vw) * 50);
    border: none;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-info-nombre-y-club {
    width: calc(var(--vw) * 50);
    height: calc(var(--vw) * 16);
    border: none;
    /*Texto*/
    text-align: left;
    vertical-align: middle;
}

/* Tabla */
.tenista-info-datosbasicos {
    width: calc(var(--vw) * 55);
    height: calc(var(--vw) * 24);
    table-layout: fixed; /*Amazing*/
    /*Bordeciño*/
    border: calc(var(--vw) * 0.3);
    border-style: solid;
    border-color: blue;
    border-radius: calc(var(--vw) * 5);
    border-spacing: 0; /*Importante*/
}

.tenista-info-datosbasicos tr:not(:last-child) td {
    border-bottom: calc(var(--vw) * 0.3);
    border-bottom-style: solid;
    border-bottom-color: blue;
}

.tenista-info-datosbasicos td {
    text-align: center;
}

/* SPANS: clases solo pa formatear texto */
.tenista-info-nombre {
    /*Texto*/
    font-size: calc(var(--vw) * 6);
    font-weight: bolder;
    color: white;
}

.tenista-info-club {
    /*Texto*/
    font-size: calc(var(--vw) * 3.6);
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-dato {
    /*Texto*/
    font-size: calc(var(--vw) * 5);
    font-weight: bolder;
    color: white;
}

.tenista-info-datodif {
    /*Texto*/
    font-size: calc(var(--vw) * 4.6);
    font-weight: bolder;
    color: lightslategray;
}

.tenista-info-tipodato {
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-mejorranking {
    /*Texto*/
    font-size: calc(var(--vw) * 2.6);
    font-weight: 500;
    color: lightslategray;
}

/*-----------------------------------------------------------------------------------------------*/

.tenista-data {
    width: calc(var(--vw) * 100vw);
    /*NO ESPECIFICAMOS LA ALTURA YA QUE ES VARIABLE*/
    background-color: snow;
    border: none; /*C-VIOLET*/
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-seleccion {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 6);
    background-color: transparent;
    border: none; /*C-BLUE*/
    /*Flexbox*/
    display: flex;
    gap: calc(var(--vw) * 8);
    justify-content: center;
    align-items: center;
}

.tenista-seleccion a {
    border: none; /*C-BLUE*/
}

.seleccion-modo {
    background-color: transparent;
    /*Texto cuando no está pulsado*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: darkslategray;
    /*Corrigiendo el estilo por defecto*/
    text-decoration: none;
}

.seleccion-modo strong {
    border-bottom: calc(var(--vw) * 0.6);
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    /*Animación*/
    transition: border-color 1s ease;
}

/*Finura*/
.seleccion-modo--activa strong {
    border-bottom-color: blue;
    /*Animación*/
    transition: border-color 1s ease;
}

.seleccion-modo--activa {
    /*Texto cuando está pulsado*/
    font-size: calc(var(--vw) * 3);
    font-weight: bold;
    text-align: center;
    color: blue;
}

.seleccion-contenido {
    /*Si no está pulsada la opción para verlo, se oculta*/
    display: none;
}

.seleccion-contenido--activa {
    display: block;
    color: black;
}

/*-----------------------------------------------------------------------------------------------*/

/*WIP*/
.tenista-stats {
    width: calc(var(--vw) * 80);
    border: none;
    font-size: calc(var(--vw) * 4.5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.ts-tabla-doblefila {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 6.5);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.ts-tabla-fila {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 5.5);
    /*Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ts-tabla-izq {
    width: calc(var(--vw) * 60);
    text-align: left;
    font-size: calc(var(--vw) * 3);
}

.ts-tabla-der {
    width: calc(var(--vw) * 10);
    text-align: right;
    font-size: calc(var(--vw) * 3);
}

.barra-comparativa {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 1);
    background-color: lightgray;
    /*Básicamente vamos a mostrar el porcentaje del tenista2 por encima*/
    overflow: hidden;

    position: relative;
}

.barra-porcentaje {
    width: 0%; /*Este valor se ajusta con h2h_porcentajes_barras.js*/
    height: calc(var(--vw) * 1);
    background-color: blue;
    
    position: absolute;
    left: 0;

    /*Animación (nah insano)*/
    transition: width 0.8s ease-in;
}

/*-----------------------------------------------------------------------------------------------*/

.caja-partidos-torneo {
    width: calc(var(--vw) * 75);
    table-layout: fixed; /*Amazing*/
    /*Bordeciño*/
    border: calc(var(--vw) * 0.3);
    border-style: solid;
    border-color: grey;
    border-radius: calc(var(--vw) * 3);
    border-spacing: 0; /*Importante*/
    /* Margen interior aka padding */
    padding: calc(var(--vw) * 2);
}

.resultados-del-torneo {
    height: calc(var(--vw) * 8);
    margin-left: calc(var(--vw) * 6);
    margin-top: calc(var(--vw) * 1);
    /*Texto*/
    color: grey;
    font-size: calc(var(--vw) * 2.5);
    font-weight: 400;
    text-align: left;
}

.partidos-torneo {
    width: calc(var(--vw) * 70);
    display: inline-block; /*El padre es flexbox*/
}

.datos-torneo {
    width: calc(var(--vw) * 75);
    font-weight: bolder;
    /*Flexbox*/
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.categoria-torneo img {
    width: calc(var(--vw) * 15);
    object-fit: contain;
    padding: calc(var(--vw) * 2);
}

.info-torneo {
    margin-left: calc(var(--vw) * 2);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-torneo-nombre {
    /*Texto*/
    font-size: calc(var(--vw) * 4);
    font-weight: bold;
    color: black;
}

.info-torneo-otros {
    /*Texto*/
    font-size: calc(var(--vw) * 3);
    font-weight: 500;
    color: black;
    text-align: left;
}

/*-----------------------------------------------------------------------------------------------*/

.tenista-info-partidos {
    width: calc(var(--vw) * 90);
    margin: 0 auto;
    border: none;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-info-partidos ul {
    text-decoration: none;
    /*Arreglo pa que esté bien distribuido*/
    list-style: none;
    margin: 0;
    padding: 0;
    /*Texto*/
    text-align: center;
}

.fila-info-partido {
    /*Flexbox*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--vw) * 1.5);
    /* Texto */
    font-size: calc(var(--vw) * 3);
    border: none;
}

.columna-lista-partidos {
    height: calc(var(--vw) * 6);
    /*Flexbox*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*Texto*/
    text-align: center;
    text-decoration: none;
    color: black;
}

.columna-lista-partidos a {
    display: block;
    /*Texto*/
    text-align: center;
    text-decoration: none;
    color: black;
}

.leyenda {
    /* Texto */
    font-size: calc(var(--vw) * 2.7);
    color: grey;
}

.w-l {
    flex-basis: calc(var(--vw) * 3);
    font-weight: bolder;
    border: none;
}

.clp-rival {
    flex-basis: calc(var(--vw) * 18);
    justify-content: flex-start; /*Texto alineado a la izquierda*/
    border: none;
}

.clp-ronda {
    flex-basis: calc(var(--vw) * 10);
    border: none;
}

.clp-marcador {
    flex-basis: calc(var(--vw) * 22);
    justify-content: flex-start; /*Texto alineado a la izquierda*/
    border: none;
}

/*-----------------------------------------------------------------------------------------------*/

.dato-resumen-tipo {
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 7);
    padding-left: calc(var(--vw) * 5);
    background-color: rgb(234, 234, 234);
    /*Bordeciño*/
    border-radius: calc(var(--vw) * 3);
    border-spacing: 0; /*Importante*/
    /*Flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Texto*/
    font-size: calc(var(--vw) * 3.7);
}

.dato-resumen {
    text-align: right;
    padding-right: calc(var(--vw) * 3);
}

/*Reescribir el tipo de display para el resumen (necesito flexbox dirección columna)*/
.seleccion-contenido.seleccion-contenido--activa[data-info="1"] {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--vw) * 2);
}