/*Parvada*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(16, 32, 64);
}

/*Ajustar la calidad a la cual se cargan las imágenes en función del viewport*/
img {
    width: 50vw;
    height: auto;   /*Mantener el ratio*/
}

/* ---------------INICIO CONFIG MENÚ SUPERIOR--------------- */

.menu-superior {
    width: 100vw;
    height: 15vw;
    background-color: rgb(8, 16, 32);
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Ajustes para que quede siempre arriba*/
    position: fixed;
    z-index: 100; /*Nos aseguramos que siempre esté encima*/
}

.boton-ver-apartados {
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-rexenxotv {
    width: 85vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    /*Flexbox*/
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo-rexenxotv img {
    height: 80%;
    width: auto;
    margin-top: 1vw;
    margin-right: 2vw;
    object-fit: contain;
}

/* ---------------FIN CONFIG MENÚ SUPERIOR--------------- */

.margen {
    width: 100vw;
    height: 5vw;
    background-color: rgb(16, 32, 64);
    border: 2px solid purple;
}

/*-----------------------------------------------------------------------------------------------*/

.tenista {
    background-color: rgb(16, 32, 64);
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Ajuste para el menú superior*/
    padding-top: 15vw;
}

.tenista-info {
    width: 100vw;
    height: 50vw;
    border: 2px solid lime;
    /*Degradado*/
    background: radial-gradient(
        circle at right center,
        rgb(32, 64, 128) 0%,
        rgb(24, 48, 96) 30%,
        rgb(16, 32, 64) 50%
    );
    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenista-info-imagen {
    width: 40vw;
    height: 50vw;
    border: 2px solid gold;
}

.tenista-info-imagen img {
    width: 40vw;
    height: 50vw;
    object-fit: contain;
    object-position: right;
}

.tenista-info-basica {
    width: 60vw;
    height: 50vw;
    border: none;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenista-info-nombre-y-club {
    width: 50vw;
    height: 16vw;
    border: none;
    /*Texto*/
    text-align: left;
    vertical-align: middle;
}

/* Tabla */
.tenista-info-datosbasicos {
    width: 55vw;
    height: 24vw;
    table-layout: fixed; /*Amazing*/
    /*Bordeciño*/
    border: 0.3vw solid blue;
    border-radius: 5vw;
    border-spacing: 0; /*Importante*/
}

.tenista-info-datosbasicos tr:not(:last-child) td {
    border-bottom: 0.3vw solid blue;
}

.tenista-info-datosbasicos td {
    text-align: center;
}

/* SPANS: clases solo pa formatear texto */
.tenista-info-nombre {
    /*Texto*/
    font-size: 6vw;
    font-weight: bolder;
    color: white;
}

.tenista-info-club {
    /*Texto*/
    font-size: 3.6vw;
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-dato {
    /*Texto*/
    font-size: 5vw;
    font-weight: bolder;
    color: white;
}

.tenista-info-datodif {
    /*Texto*/
    font-size: 4.6vw;
    font-weight: bolder;
    color: lightslategray;
}

.tenista-info-tipodato {
    /*Texto*/
    font-size: 3vw;
    font-weight: 500;
    color: lightslategray;
}

.tenista-info-mejorranking {
    /*Texto*/
    font-size: 2.6vw;
    font-weight: 500;
    color: lightslategray;
}